<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    id="cordova-plugin-adnaga-admob"
    version="0.1.0">

    <name>adnaga-admob</name>
    <description>adnaga admob plugin</description>
    <license>MIT</license>
    <keywords>cordova,adnaga,ads,ad,admob</keywords>
    <repo>https://github.com/adnaga/adnaga-admob</repo>
    <issue>https://github.com/adnaga/adnaga-admob/issues</issue>

    <js-module src="www/adnaga_admob.js" name="adnaga_admob">
        <clobbers target="adnaga_admob" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/AdnagaAdmob.java" target-dir="src/com/adnaga/"/>
    </platform>
</plugin>
